<!doctype html>
<html lang="{{ config.language }}">
<head>
<meta charset="utf-8">
<title>{{ title }}</title>
<base href="{{ config.root }}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<link rel="canonical" href="{{ url_trim(url) }}">
<link rel="icon" type="image/x-icon" href="{{ url_for(theme.favicon) }}">
{% if theme.pwa.manifest -%}
<link rel="manifest" href="{{ url_for('manifest.json') }}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
{%- endif %}
{{ open_graph({ image: page.thumbnail if page.thumbnail else theme.profile.avatar }) }}
{{ structured_data(page) if theme.seo.structured_data -}}
{% if config.feed and config.feed.path -%}
<link rel="alternate" type="application/atom+xml" title="{{ config.title }}" href="{{ url_for(config.feed.path) }}">
{%- endif %}
{{ ga(theme.ga) if theme.ga }}
</head>
<body lang="{{ config.language }}"></body>



{%- url_for('/themes/source/style-mvs.css', {relative: false}) %}


</html>

<style>
.φe h2,
.φe h3,
.φe h4,
.φe h5,
.φe h6 {
    margin: 2rem 0 1rem;
    font-weight: 700;
    color: #3a4e81;
    counter-reset: h3;
    border-bottom: #ffa036 1px solid;
    font-size: 22px;
}

.φe h2:before {
    content: counter(h2, decimal) " ";
    counter-increment: h2;
    background-color: #ffa036;
    padding: 0px 9px 3px 14px;
    margin-right: 10px;
    color: #fff;
    border-bottom: #ffa036 1px solid;
}

body {
    counter-reset: h2;
}

</style>